<!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Hackathon UTC 2015 - Live Stream</h1>
      </div>
      <div class="bs-example" data-example-id="striped-table" data-ng-controller="projectCtrl as vm">
            <table class="table table-striped ng-cloak" >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Project</th>
                  <th>Repository</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="project in vm.projects | orderBy:'-points'">
                  <th scope="row">{{ $index + 1 }}</th>
                  <td>{{ project.name  }}</td>
                  <td>{{ project.repository }}</td>
                  <td>{{ project.points }}</td>
                </tr>
              </tbody>
            </table>
  </div>
  
  
      <p></p>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Hackathon UTC 2015</p>
      </div>
    </footer>